@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	
}
.wrapper{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 10px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }
.ln18em{line-height : 1.8em; }
/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid #E3E3E3;
		}
	}
}


/* LAYOUT */

#top{
	border-top : 5px solid $main_color;
	padding-top: 15px;
	.top_content{
		.top-text{
		float : left;
		width: 350px;
		.top-text-red{
			color: $main_color;
		}
	}
	.top-links{		
		margin-left: 385px;		
		float: left;		
		width: 325px;
		ul{
			list-style: none;
			margin:0;
			padding: 0;
			li{
				background : transparent url("../img/common/top_icon.jpg") no-repeat left 0 scroll;		
				display: inline-block;
				padding : 0px 15px;
				a{
					padding-left: 10px;
				}
				a:hover{
					text-decoration: underline;
				}
			}
		}		
	}			
	}	
	color : #000;
	a{ color : #000; }
}

header{	
	padding: 10px 0 15px;
	.header-content{		
		.header-logo{
			float: left;
			width: 290px;
		}
		.header-right{
			padding-left: 80px;
			float: left;			
			.header-tel{
				padding-top: 15px;
				float: left;		
			}
			.header-material{
				padding-top: 15px;	
				float: left;
				width: 213px;
				padding-left: 12px;
			}
			.header-con{
				padding-top: 15px;
				float: left;
				padding-left: 5px; 
			}
		}				
	}
}

nav{
	background : $main_color;
	#gNavi{		
		ul{
			list-style: none;
			margin : 0;
			padding : 0;
			width: 1060px;
			li{
				width: 176px;
				float : left;
				position: relative;
				border-left: 1px solid $bg_color;
				a{
					display: block;
					text-align: center;
					line-height: 40px;
					color : #fff;
				}								
			}
			li.current > a{
				background-color : #a30c0c;				
			}
			li.current ul{
				display: block;
			}
			li:last-child{
				border-right: 1px solid $bg_color; 
			}
		}			
	}
}


#slider{
	height: 490px;
	width: 100%;
	box-shadow: 0 0 5px 5px #d6d6d6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	.nivo-prevNav{
		background : transparent url("../img/common/slider_prev.png") no-repeat 0 0 scroll;
		height: 48px;
		width : 48px;
		text-indent: -9999px;		
	}
	.nivo-nextNav{
		background : transparent url("../img/common/slider_next.png") no-repeat 0 0 scroll;
		height: 48px;
		width : 48px;
		text-indent: -9999px;	
	}			
}
#slider-bg{
	background : transparent url("../img/common/top_slide_bg.jpg") repeat-x 0 0 scroll;		
	z-index: -20000;
	.slider-content{	
		.bx-wrapper{
			margin: 0;
			.bx-viewport{
				left : 0;
				border : none;
				height: 490px;
				width: 100%;
				box-shadow: 0 0 5px 5px #d6d6d6;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;	
				
			}
			.bx-prev{
				 top: 150px;
			}
			.bx-next{
				 top: 150px;
			}
		}
		position: relative;			
		padding-top: 15px;
		.slider-item{	
			z-index: 999;
			position: absolute;				
			top: 10px;									
			#slider-thumb1{							
				width: 542px;
				height: 105px;
				position: absolute;
							left: 265px;
							top: 373px;
							overflow: hidden;							
							ul{			
								margin: 0;
								padding: 0;
								border: 0;
								vertical-align: baseline;
								font-family: inherit;
								font-style: inherit;
								font-weight: inherit;
								width: 800px;
								height: 105px;
								float: left;
								display: inline;
								overflow: hidden;
								li{								
									float: left;
									margin: 0;
									width: 140px;
									height: 105px;
									display: inline;
									overflow: hidden;
								}
							}
						}
						
						#slider-thumb1 ul:after {
							content: ".";
							height: 0;
							clear: both;
							display: block;
							visibility: hidden;
						}

						#slider-thumb1 ul {
							display: inline-block;
							overflow: hidden;
						}
												
						#slider--human{
							position: absolute;
							left: 30px;
							top: 263px;
							z-index: 15;
						}
						#slider-thumb2{
							#thumb2-list{
								position: absolute;
								top: 0;
								left: 0;
								z-index: 20;								
								list-style: none;
								li{
									p{
										position: absolute;
										left: 267px;
										top: 265px;	
										width: 550px !important;
										height: 94px;
									}
									div{
									position: absolute;
									left: 819px;
									top: 290px;
									width: 231px !important;
									height: 186px;										 
									}
								}
								li:first-child{
									display: block;
								}
							}
						}
				}
	}	
}


#content{
	padding : 20px 0px 0px;
	.primary-row{
		margin-top : 40px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-237{
		.text-space{
			padding-top: 25px;
		}
		.image{ width : 237px; }
		.text{ width : $primary_width - 237px - 20px; }
	}
	
	.message-250{		
		.image{ 
			width : 250px; 
			margin-left: 10px;
		}
		.text{ width : $primary_width - 260px - 20px; }
	}
	
	.message-272{
		border: 3px solid #ddd;
		background-color: #fafaf2;
		padding: 15px;
		.image{ 
			width : 272px; 			
		}
		.text{ 
			width : $primary_width - 308px - 20px; 
			.process-step{
				.process-icon{
					background : $bg_color url('../img/content/process_content_icon.jpg') no-repeat 0 0 scroll;
					height: 43px;
					width: 47px;
					float: left;	
					text-align: center;
					color: $bg_color;
					line-height: 43px;
					font:{
						size: 35px;
						weight: bold;
					}
				}
				.process-title{
					padding: 10px 0 20px 10px;
					float: left;
					font:{       
						size: 31px;
						weight: bold;
					}
				}
				.process-title4{
					padding: 10px 0 20px 5px;
					float: left;
					font:{       
						size: 29px;
						weight: bold;
					}
				}				
			}
			.paint-title{	
				padding: 10px 0 20px 0;
				font:{       
					size: 32px;
					weight: bold;
				}
			}
		}
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col180{
		.message-col{
			padding: 10px;
			border: 1px solid #ccc;
			width: 180px;
			height: 237px;
			margin-left: 13px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col377{
		.message-col{
			width: 377px;
			margin-left: 5px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	.message-group.message-col375{
		margin-top: 10px;
		.message-col{
			width: 375px;	
			margin-left: 10px;					
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	.message-classic{
		.message-col{						
			.title{				
				font-size: 14px;
				padding-bottom: 10px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
				font-size: 12px;
			}
		}
	}

	/* heading */
	.h2-title{	
		line-height : 36px;
		padding-left : 20px;
		background : $bg_color url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
		margin-bottom : 20px;
		font :{
			size: 18px;
			weight: bold;
		}
	}
	
	.h2-stitle{
		line-height : 111px;
		padding-left : 50px;
		background : url('../img/common/h2_sub_title.jpg') no-repeat 0 0 scroll;
		margin-bottom : 20px;	
		color: $bg_color;		
		font :{			
			size: 42px;
			weight: bold;			
		}
	}
	.h3-title{
		line-height : 36px;
		padding-left : 20px;
		background : $bg_color url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
		margin-bottom : 20px;
		font :{
			size: 18px;
			weight: bold;
		}
	}		
}


/*/////////// sidebar ////////////*/
.side-mission{
	position : relative;
	height: 247px;
	background : transparent url("../img/common/side_img_bg.jpg") no-repeat 0 0 scroll;		
	.side-link{			
		position: absolute;
		bottom: 10px;
		left: 90px;
		list-style: none;
		margin:0;
		padding: 0;
		float: left;
		li{				
			display: inline-block;		
			padding: 4px 0;				
		}		
		a:hover{
			@include border_radius(10px);
		}
		li:first-child{
			padding-bottom: 4px;
			padding-top: 0;
		}
	}	
}

/*/////////// part-area ////////////*/
.side-area{	
	border: 1px solid $main_color;		
	.area-title{
		line-height: 40px;
		background-color:  $main_color;						
		text-align: center;
		color: $bg_color;
		font:{
			size: 20px;
			weight: bold;
		}
	}
	
	.eigyouarea{
		padding: 10px 10px 0 10px;
		.sub-title{
			background-color: #eee;
			@include border_radius(5px);
			color: $text-color;	
			text-align: left;
			padding: 10px;		
			margin-bottom: 10px;
			cursor: pointer;			
			font :{
				size: 16px;
				weight: bold;
			}			
		}
		
		dt{
			border-bottom: 2px solid #ccc;
			padding-bottom: 5px;
			font-size: 16px;			
			.sub-title{
				margin-left: -10px;
			}
		}
		dl{	
			margin-bottom: -10px;
			margin-top: -10px;
		}
		dd{
			padding: 5px 0 15px;
			font-size: 16px;
			a{				
				white-space: nowrap;
				color: $text_color;
				font-size: 12px;
			}
		}
		dt:first-child{
			padding-top: 10px;
		}
	}
}



/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}

#breadcrumb{				
	.home{
		color: $text_color;
	}
}


footer{
	border-top : 5px solid $main_color;
	margin-top : 100px;
	background-color : $bg_color;	
	.footer-info2{
		padding : 20px 0 20px;
		p{
			line-height: 2em;
		}
		.footer-info2-1{
			width: 318px;
			float: left;
			.copyright{
					padding-top: 90px;
				}
		}
		.footer-col{
			width: 230px;
			height: 175px;
			float : left;
			margin-left: 25px;			
			ul{
				list-style: none;
				padding : 0;
				margin : 0;
				min-width : 145px;
				li
				{
					a{					
						line-height: 2.5em;	
						color: #000;
						text-decoration: underline;
					}				
					.fa {
						padding-right: 5px;
						font-size: 10px;
						font-weight: bold;
					}
				}
				a:hover{
					text-decoration: none;
				}
			}
		}
		.footer-col:first-child{
			margin-left: 55px;			
		}
		#footer-info2-2{
			width: 750px;	
			margin-left: 318px;
		}
	}
	
	.footer-info1{
		padding : 20px 0 0;
		p{
			line-height: 2em;
		}
		.footer-info1-1{
			width: 318px;
			float: left;
		}
		#footer-info1-2{
			width: 751px;				
			margin-left: 318px;
		}		
		.footer-material{
			padding-top: 15px;
			float : left;
			margin-left: 18px;			
		}
		.footer-con{
			padding-top: 15px;
			float : left;
			margin-left: 5px;
		}
		.footer-col{	
			padding-top: 15px;
			float : left;
			margin-left: 55px;			
		}		
	}
}