@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */

.sideBlog{
	.sideBlog-title{
		color: $sub_color1;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $sub_color1;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
	}
}
#part-blog{
	.part-blog-content{		
		padding-right: 10px;
		.item{
			border-top : 1px dotted $border_color;
			.date{
				color : #ff8000;
				font-weight: bold;
				float : left;
				width: 100px;
			}
			.title a{
				color: #000; 
			}
			.date,.title{
				line-height: 40px;
			}			
		}
		.itemnew{	
			
			.date{
				color : #ff8000;
				font-weight: bold;
				float : left;
				width: 100px;
			}
			.title a{
				color: #000; 
			}
			.date,.title{
				line-height: 40px;
			}	
			.blog-new{
				float: left;			
				margin: -30px 0 0 230px;
			}
		}
		.item:first-child{
			border-top : none;			
		}
	}
}

/* page content */
#content{
	.top-content-first{
		margin-top: -10px;
	}
	.top-mission{
		margin-top: 20px;
		position : relative;
		background : transparent url("../img/content/top_content_img6.jpg") no-repeat 0 0 scroll;		
		height: 400px;
		.mission-text{			
			position : absolute;
			top: 205px;
			left: 25px;
			list-style: none;
			margin: 0;
			padding: 0;
			li{				
				width: 250px;
				float: left;								
				line-height: 1.5em;
				padding-left:30px;
				word-wrap: break-word;
			}
			li:first-child{
				padding-left: 0;
				width: 220px;
			}
		}
		.mission-link{			
			position: absolute;
			bottom: 20px;
			left: 100px;
			list-style: none;
			margin:0;
			padding: 0;
			float: left;
			li{				
				display: inline-block;				
				padding-left: 145px;
				a{color: $bg_color;}				
			}
			a:hover{
				text-decoration: underline;
			}
			li:first-child{
				padding-left: 0;
			}
		}	
	}
	
	.flow_link a{
		text-decoration: underline;
		color: $text_color;		
	}
	
	.flow_link a:hover{
		text-decoration: none;			
	}
	/* top */
	#top_content1{		

	}
}


/*/////////// page-faq ////////////*/
.faq-content-row{
	margin-bottom: 10px;
	.question-bg{
		background : transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;				
		height: 50px;		
		padding: 15px 0 0 55px;
		color: #000;
		font:{
			size: 14px;
			weight: bold;
		}			
	}
	.answer-bg{
		width: 755px;
		padding: 15px 0 0 12px;		
		.answer{				
			background : transparent url("../img/content/faq_content_answer.png") no-repeat 0 0 scroll;						
			height: 34px;
			padding-left: 45px;
			color: #4b4b4b;
		}
	}
}

/*/////////// page-structure ////////////*/
.structure-group{
	.structure-row{
		margin-top: 20px;
		.structure-item{
			float : left;
			margin-left: 12px;				
			display: block;
			width: 180px;			
			height: 180px;	
			border : 1px solid #ccc;
			background-color : #FFF;
			padding: 10px;
			.title{
				padding-bottom: 5px;
				.link-title a{					
					color: $text_color;
				}
				a:hover{
					color: #aaa;
				}
			}
			.image{				
				text-align: center;
			}
			.detail{	
				padding-top: 5px;
				width: 180px;
				.taxonomy a{					
					color: $text_color;
				}
				a:hover{
					color: #aaa;
				}
			}
		}
		.structure-item:first-child{
			margin-left: 0px;
		}
	}
	.structure-row:first-child{
		margin-top: 0px;
	}
}

.wp-pagenavi a{
	color: $text_color;	
}
.wp-pagenavi a:hover{
	color: #aaa;
}

/*/////////// page-contact ////////////*/
.contact-form{
	margin-top: 20px;
}

/*/////////// page-company ////////////*/
.company_table{
	margin-top: 20px;	
	tr th, td{
		border: 1px solid #ccc !important;
	}
	th{
		background-color: #fafaf2;
		width: 100px;
		font-weight: normal;
	}		
}

/*/////////// page-privacy ////////////*/
.privacy-title{
		line-height : 36px;
		padding-left : 10px;
		background : $bg_color url('../img/common/h2_title.jpg') no-repeat 0 0 scroll;
		margin-bottom : 20px;
		color: #000;
		font :{
			size: 18px;
			weight: bold;
		}
	}	
.privacy-text{
	color: #000;
}

/*/////////// page-staff ////////////*/
.staff-title{
	font-size: 22px;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
	color: #000;
}

.staff-info{
	border-style: none;
	padding: 0 60px 0 25px;
	tr th,td{  
		padding: 8px 0 2px;
		border: none;
		font-weight: normal;	
		color: #000;
	}
	tr{
		border-bottom: 1px dotted #aaa;
	}
}

/*/////////// page-blog ////////////*/
.blog_content{
	padding: 0 20px 20px 20px;
	.time-catelogy{
		text-align: right;
		a{
			color: $text_color;		
		}
	}	
	.time-catelogy a:hover{
		color: #aaa;
	}
}

/*/////////// page-flow ////////////*/
.flow-content{
	box-shadow: 0 0 7px 3px #ccc;		
	position: relative;
	height: 212px;
	.flow-title{
		position: relative;
		line-height: 55px;
		color: $bg_color;
		.title-info{
			position: absolute;		
			left: 120px;
			top: 13px;
			font :{
				size: 25px;
				weight: bold;
			}
		}
	}
		
	.flow-info{				
		padding: 15px;	
		.flow-272{			
			.text{
				width: 435px;
				word-wrap:break-word;
			}
			.image{			
				width: 272px;				
			}
		}

		.flow-right{			
			.text{
				float : left;
				word-wrap:break-word;
			}
			.image{
				float : right;
				margin-left: 20px;
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}	
	}
}


/*/////////// page-craft ////////////*/
.craft-info{
	padding-top: 17px;
	.craft-slogan{
		float: left;
		width: 182px;
	}
	.craft-text{
		float: left; 
		padding-left: 10px;
		line-height: 45px;
		font:{
			size: 24px;
			weight: bold;
		}
		.text-red{
			color: #ec1919;
		}
	}	
}

.data-content{
	position: relative;
	margin-left: -12px;
	.data-title{
		position: absolute;
		top: 25px;
		left: 95px;
		color: $bg_color;		
		font:{
			size: 30px;
			weight: bold;			
		}
	}
	.data-text{
		position: absolute;
		width: 416px;	
		top: 90px;
		left: 30px;
	}
}


/*/////////// page-price ////////////*/
.price-content{
	position: relative;	
	.price-title{
		position: absolute;
		top: 35px;
		left: 115px;
		color: $bg_color;		
		font:{
			size: 24px;
			weight: bold;			
		}
	}
	.price-text{
		position: absolute;		
		bottom: 103px;
		left: 25px;
		right: 25px;	
		color: #555;
		font:{
			size: 26px;
			weight: bold
		}
	}
	.price-button{
		position: absolute;
		bottom: 27px;
		left: 29px;		
	}
}

/*------- page-voice------*/
.voice-sub-content{
	.image{
		float : left;
		width: 370px;
		img{
			width: 370px;
			height: 260px;	
		}
	}
	.text{
		width: 341px;
		float : right;
		margin-left: 48px;
		background-color: #fafaf2;
		border: 1px solid #ccc;
		padding: 20px;
		.voice-title{
			font-size: 18px;
			margin-bottom: 35px;		
			text-align: center;
		}
		.voice-table{
			border-style: none;			
			tr th,td{  
				padding: 8px 0 2px;
				border: none;
				font-weight: normal;	
				color: #000;
			}
			tr{
				border-bottom: 1px dotted #e8e8e6;
			}	
		}
	}
}
