@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #ee1a1a;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #f57979; }

a:link {
  color: #333333; }

a:visited {
  color: #333333; }

a:hover {
  color: #434343; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
.wrapper {
  max-width: 1060px;
  margin: 0px auto; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 10px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

.ln18em {
  line-height: 1.8em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #E3E3E3; }

/* LAYOUT */
#top {
  border-top: 5px solid #ee1a1a;
  padding-top: 15px;
  color: #000; }
  #top .top_content .top-text {
    float: left;
    width: 350px; }
    #top .top_content .top-text .top-text-red {
      color: #ee1a1a; }
  #top .top_content .top-links {
    margin-left: 385px;
    float: left;
    width: 325px; }
    #top .top_content .top-links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #top .top_content .top-links ul li {
        background: transparent url("../img/common/top_icon.jpg") no-repeat left 0 scroll;
        display: inline-block;
        padding: 0px 15px; }
        #top .top_content .top-links ul li a {
          padding-left: 10px; }
        #top .top_content .top-links ul li a:hover {
          text-decoration: underline; }
  #top a {
    color: #000; }

header {
  padding: 10px 0 15px; }
  header .header-content .header-logo {
    float: left;
    width: 290px; }
  header .header-content .header-right {
    padding-left: 80px;
    float: left; }
    header .header-content .header-right .header-tel {
      padding-top: 15px;
      float: left; }
    header .header-content .header-right .header-material {
      padding-top: 15px;
      float: left;
      width: 213px;
      padding-left: 12px; }
    header .header-content .header-right .header-con {
      padding-top: 15px;
      float: left;
      padding-left: 5px; }

nav {
  background: #ee1a1a; }
  nav #gNavi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1060px; }
    nav #gNavi ul li {
      width: 176px;
      float: left;
      position: relative;
      border-left: 1px solid white; }
      nav #gNavi ul li a {
        display: block;
        text-align: center;
        line-height: 40px;
        color: #fff; }
    nav #gNavi ul li.current > a {
      background-color: #a30c0c; }
    nav #gNavi ul li.current ul {
      display: block; }
    nav #gNavi ul li:last-child {
      border-right: 1px solid white; }

/*#slider{
	background : transparent url("../img/common/top_slide_bg.jpg") repeat-x 0 0 scroll;		
	.slider-content{
		padding-top: 15px;
		.bx-wrapper{
			margin-bottom: 0;
			.bx-viewport{
				left : 0;
				border : none;
				position: relative;
				height: 490px;
				box-shadow: 0 0 4px 4px #d6d6d6;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;				
				.bxslider{
					.item{											
						#slider_thumb1{						
							width: 542px;
							height: 105px;
							position: absolute;
							left: 265px;
							top: 373px;
							overflow: hidden;							
							ul{			
								margin: 0;
								padding: 0;
								border: 0;
								vertical-align: baseline;
								font-family: inherit;
								font-style: inherit;
								font-weight: inherit;
								width: 800px;
								height: 105px;
								float: left;
								display: inline;
								overflow: hidden;
								li{								
									float: left;
									margin: 0;
									width: 140px;
									height: 105px;
									display: inline;
									overflow: hidden;
								}
							}
						}
						
						#slider_thumb1 ul:after {
							content: ".";
							height: 0;
							clear: both;
							display: block;
							visibility: hidden;
						}

						#slider_thumb1 ul {
							display: inline-block;
							overflow: hidden;
						}
						
						#slider_thumb1_1{
							width: 542px;
							height: 105px;
							position: absolute;
							left: 265px;
							top: 373px;
							overflow: hidden;
							ul{			
								margin: 0;
								padding: 0;
								border: 0;
								vertical-align: baseline;
								font-family: inherit;
								font-style: inherit;
								font-weight: inherit;
								width: 800px;
								height: 105px;
								float: left;
								display: inline;
								overflow: hidden;
								li{
									float: left;
									margin: 0;
									width: 140px;
									height: 105px;
									display: inline;
									overflow: hidden;
								}
							}
						}
						
						#slider_thumb1_1 ul:after {
							content: ".";
							height: 0;
							clear: both;
							display: block;
							visibility: hidden;
						}

						#slider_thumb1_1 ul {
							display: inline-block;
							overflow: hidden;
						}
						
						
						#slider_human{
							position: absolute;
							left: 30px;
							top: 263px;
							z-index: 15;
						}
						#slider_thumb2{
							#thumb2_list{
								position: absolute;
								top: 0;
								left: 0;
								z-index: 20;								
								list-style: none;
								li{
									p{
										position: absolute;
										left: 267px;
										top: 265px;	
										width: 550px !important;
										height: 94px;
									}
									div{
									position: absolute;
									left: 820px;
									top: 292px;
									width: 231px !important;
									height: 186px;										 
									}
								}
								li:first-child{
									display: block;
								}
							}
						}
					}
				}
			}
			.bx-pager{ display : none; }
		}
	}	
}
*/
#slider {
  height: 490px;
  width: 100%;
  box-shadow: 0 0 5px 5px #d6d6d6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #slider .nivo-prevNav {
    background: transparent url("../img/common/slider_prev.png") no-repeat 0 0 scroll;
    height: 48px;
    width: 48px;
    text-indent: -9999px; }
  #slider .nivo-nextNav {
    background: transparent url("../img/common/slider_next.png") no-repeat 0 0 scroll;
    height: 48px;
    width: 48px;
    text-indent: -9999px; }

#slider-bg {
  background: transparent url("../img/common/top_slide_bg.jpg") repeat-x 0 0 scroll;
  z-index: -20000; }
  #slider-bg .slider-content {
    position: relative;
    padding-top: 15px; }
    #slider-bg .slider-content .bx-wrapper {
      margin: 0; }
      #slider-bg .slider-content .bx-wrapper .bx-viewport {
        left: 0;
        border: none;
        height: 490px;
        width: 100%;
        box-shadow: 0 0 5px 5px #d6d6d6;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      #slider-bg .slider-content .bx-wrapper .bx-prev {
        top: 150px; }
      #slider-bg .slider-content .bx-wrapper .bx-next {
        top: 150px; }
    #slider-bg .slider-content .slider-item {
      z-index: 999;
      position: absolute;
      top: 10px; }
      #slider-bg .slider-content .slider-item #slider-thumb1 {
        width: 542px;
        height: 105px;
        position: absolute;
        left: 265px;
        top: 373px;
        overflow: hidden; }
        #slider-bg .slider-content .slider-item #slider-thumb1 ul {
          margin: 0;
          padding: 0;
          border: 0;
          vertical-align: baseline;
          font-family: inherit;
          font-style: inherit;
          font-weight: inherit;
          width: 800px;
          height: 105px;
          float: left;
          display: inline;
          overflow: hidden; }
          #slider-bg .slider-content .slider-item #slider-thumb1 ul li {
            float: left;
            margin: 0;
            width: 140px;
            height: 105px;
            display: inline;
            overflow: hidden; }
      #slider-bg .slider-content .slider-item #slider-thumb1 ul:after {
        content: ".";
        height: 0;
        clear: both;
        display: block;
        visibility: hidden; }
      #slider-bg .slider-content .slider-item #slider-thumb1 ul {
        display: inline-block;
        overflow: hidden; }
      #slider-bg .slider-content .slider-item #slider--human {
        position: absolute;
        left: 30px;
        top: 263px;
        z-index: 15; }
      #slider-bg .slider-content .slider-item #slider-thumb2 #thumb2-list {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        list-style: none; }
        #slider-bg .slider-content .slider-item #slider-thumb2 #thumb2-list li p {
          position: absolute;
          left: 267px;
          top: 265px;
          width: 550px !important;
          height: 94px; }
        #slider-bg .slider-content .slider-item #slider-thumb2 #thumb2-list li div {
          position: absolute;
          left: 819px;
          top: 290px;
          width: 231px !important;
          height: 186px; }
        #slider-bg .slider-content .slider-item #slider-thumb2 #thumb2-list li:first-child {
          display: block; }

#content {
  padding: 20px 0px 0px;
  /* message */
  /* message-group */
  /* heading */ }
  #content .primary-row {
    margin-top: 40px; }
    #content .primary-row .primary-row {
      margin-top: 20px; }
  #content .primary-row:first-child {
    margin-top: 0; }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-237 .text-space {
    padding-top: 25px; }
  #content .message-237 .image {
    width: 237px; }
  #content .message-237 .text {
    width: 503px; }
  #content .message-250 .image {
    width: 250px;
    margin-left: 10px; }
  #content .message-250 .text {
    width: 480px; }
  #content .message-272 {
    border: 3px solid #ddd;
    background-color: #fafaf2;
    padding: 15px; }
    #content .message-272 .image {
      width: 272px; }
    #content .message-272 .text {
      width: 432px; }
      #content .message-272 .text .process-step .process-icon {
        background: white url("../img/content/process_content_icon.jpg") no-repeat 0 0 scroll;
        height: 43px;
        width: 47px;
        float: left;
        text-align: center;
        color: white;
        line-height: 43px;
        font-size: 35px;
        font-weight: bold; }
      #content .message-272 .text .process-step .process-title {
        padding: 10px 0 20px 10px;
        float: left;
        font-size: 31px;
        font-weight: bold; }
      #content .message-272 .text .process-step .process-title4 {
        padding: 10px 0 20px 5px;
        float: left;
        font-size: 29px;
        font-weight: bold; }
      #content .message-272 .text .paint-title {
        padding: 10px 0 20px 0;
        font-size: 32px;
        font-weight: bold; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col180 .message-col {
    padding: 10px;
    border: 1px solid #ccc;
    width: 180px;
    height: 237px;
    margin-left: 13px; }
  #content .message-group.message-col180 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col377 .message-col {
    width: 377px;
    margin-left: 5px; }
  #content .message-group.message-col377 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col375 {
    margin-top: 10px; }
    #content .message-group.message-col375 .message-col {
      width: 375px;
      margin-left: 10px; }
    #content .message-group.message-col375 .message-col:first-child {
      margin-left: 0; }
  #content .message-classic .message-col .title {
    font-size: 14px;
    padding-bottom: 10px; }
  #content .message-classic .message-col .image img {
    max-width: 100%;
    height: auto; }
  #content .message-classic .message-col .text {
    margin-top: 7px;
    line-height: 1.5em;
    font-size: 12px; }
  #content .h2-title {
    line-height: 36px;
    padding-left: 20px;
    background: white url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  #content .h2-stitle {
    line-height: 111px;
    padding-left: 50px;
    background: url("../img/common/h2_sub_title.jpg") no-repeat 0 0 scroll;
    margin-bottom: 20px;
    color: white;
    font-size: 42px;
    font-weight: bold; }
  #content .h3-title {
    line-height: 36px;
    padding-left: 20px;
    background: white url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }

/*/////////// sidebar ////////////*/
.side-mission {
  position: relative;
  height: 247px;
  background: transparent url("../img/common/side_img_bg.jpg") no-repeat 0 0 scroll; }
  .side-mission .side-link {
    position: absolute;
    bottom: 10px;
    left: 90px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .side-mission .side-link li {
      display: inline-block;
      padding: 4px 0; }
    .side-mission .side-link a:hover {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
    .side-mission .side-link li:first-child {
      padding-bottom: 4px;
      padding-top: 0; }

/*/////////// part-area ////////////*/
.side-area {
  border: 1px solid #ee1a1a; }
  .side-area .area-title {
    line-height: 40px;
    background-color: #ee1a1a;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold; }
  .side-area .eigyouarea {
    padding: 10px 10px 0 10px; }
    .side-area .eigyouarea .sub-title {
      background-color: #eee;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: #333333;
      text-align: left;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold; }
    .side-area .eigyouarea dt {
      border-bottom: 2px solid #ccc;
      padding-bottom: 5px;
      font-size: 16px; }
      .side-area .eigyouarea dt .sub-title {
        margin-left: -10px; }
    .side-area .eigyouarea dl {
      margin-bottom: -10px;
      margin-top: -10px; }
    .side-area .eigyouarea dd {
      padding: 5px 0 15px;
      font-size: 16px; }
      .side-area .eigyouarea dd a {
        white-space: nowrap;
        color: #333333;
        font-size: 12px; }
    .side-area .eigyouarea dt:first-child {
      padding-top: 10px; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

#breadcrumb .home {
  color: #333333; }

footer {
  border-top: 5px solid #ee1a1a;
  margin-top: 100px;
  background-color: white; }
  footer .footer-info2 {
    padding: 20px 0 20px; }
    footer .footer-info2 p {
      line-height: 2em; }
    footer .footer-info2 .footer-info2-1 {
      width: 318px;
      float: left; }
      footer .footer-info2 .footer-info2-1 .copyright {
        padding-top: 90px; }
    footer .footer-info2 .footer-col {
      width: 230px;
      height: 175px;
      float: left;
      margin-left: 25px; }
      footer .footer-info2 .footer-col ul {
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 145px; }
        footer .footer-info2 .footer-col ul li a {
          line-height: 2.5em;
          color: #000;
          text-decoration: underline; }
        footer .footer-info2 .footer-col ul li .fa {
          padding-right: 5px;
          font-size: 10px;
          font-weight: bold; }
        footer .footer-info2 .footer-col ul a:hover {
          text-decoration: none; }
    footer .footer-info2 .footer-col:first-child {
      margin-left: 55px; }
    footer .footer-info2 #footer-info2-2 {
      width: 750px;
      margin-left: 318px; }
  footer .footer-info1 {
    padding: 20px 0 0; }
    footer .footer-info1 p {
      line-height: 2em; }
    footer .footer-info1 .footer-info1-1 {
      width: 318px;
      float: left; }
    footer .footer-info1 #footer-info1-2 {
      width: 751px;
      margin-left: 318px; }
    footer .footer-info1 .footer-material {
      padding-top: 15px;
      float: left;
      margin-left: 18px; }
    footer .footer-info1 .footer-con {
      padding-top: 15px;
      float: left;
      margin-left: 5px; }
    footer .footer-info1 .footer-col {
      padding-top: 15px;
      float: left;
      margin-left: 55px; }

/* part */
.sideBlog .sideBlog-title {
  color: #006dd9;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #006dd9;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }

#part-blog .part-blog-content {
  padding-right: 10px; }
  #part-blog .part-blog-content .item {
    border-top: 1px dotted #cccccc; }
    #part-blog .part-blog-content .item .date {
      color: #ff8000;
      font-weight: bold;
      float: left;
      width: 100px; }
    #part-blog .part-blog-content .item .title a {
      color: #000; }
    #part-blog .part-blog-content .item .date, #part-blog .part-blog-content .item .title {
      line-height: 40px; }
  #part-blog .part-blog-content .itemnew .date {
    color: #ff8000;
    font-weight: bold;
    float: left;
    width: 100px; }
  #part-blog .part-blog-content .itemnew .title a {
    color: #000; }
  #part-blog .part-blog-content .itemnew .date, #part-blog .part-blog-content .itemnew .title {
    line-height: 40px; }
  #part-blog .part-blog-content .itemnew .blog-new {
    float: left;
    margin: -30px 0 0 230px; }
  #part-blog .part-blog-content .item:first-child {
    border-top: none; }

/* page content */
#content {
  /* top */ }
  #content .top-content-first {
    margin-top: -10px; }
  #content .top-mission {
    margin-top: 20px;
    position: relative;
    background: transparent url("../img/content/top_content_img6.jpg") no-repeat 0 0 scroll;
    height: 400px; }
    #content .top-mission .mission-text {
      position: absolute;
      top: 205px;
      left: 25px;
      list-style: none;
      margin: 0;
      padding: 0; }
      #content .top-mission .mission-text li {
        width: 250px;
        float: left;
        line-height: 1.5em;
        padding-left: 30px;
        word-wrap: break-word; }
      #content .top-mission .mission-text li:first-child {
        padding-left: 0;
        width: 220px; }
    #content .top-mission .mission-link {
      position: absolute;
      bottom: 20px;
      left: 100px;
      list-style: none;
      margin: 0;
      padding: 0;
      float: left; }
      #content .top-mission .mission-link li {
        display: inline-block;
        padding-left: 145px; }
        #content .top-mission .mission-link li a {
          color: white; }
      #content .top-mission .mission-link a:hover {
        text-decoration: underline; }
      #content .top-mission .mission-link li:first-child {
        padding-left: 0; }
  #content .flow_link a {
    text-decoration: underline;
    color: #333333; }
  #content .flow_link a:hover {
    text-decoration: none; }

/*/////////// page-faq ////////////*/
.faq-content-row {
  margin-bottom: 10px; }
  .faq-content-row .question-bg {
    background: transparent url("../img/content/faq_content_question.jpg") no-repeat 0 0 scroll;
    height: 50px;
    padding: 15px 0 0 55px;
    color: #000;
    font-size: 14px;
    font-weight: bold; }
  .faq-content-row .answer-bg {
    width: 755px;
    padding: 15px 0 0 12px; }
    .faq-content-row .answer-bg .answer {
      background: transparent url("../img/content/faq_content_answer.png") no-repeat 0 0 scroll;
      height: 34px;
      padding-left: 45px;
      color: #4b4b4b; }

/*/////////// page-structure ////////////*/
.structure-group .structure-row {
  margin-top: 20px; }
  .structure-group .structure-row .structure-item {
    float: left;
    margin-left: 12px;
    display: block;
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    background-color: #FFF;
    padding: 10px; }
    .structure-group .structure-row .structure-item .title {
      padding-bottom: 5px; }
      .structure-group .structure-row .structure-item .title .link-title a {
        color: #333333; }
      .structure-group .structure-row .structure-item .title a:hover {
        color: #aaa; }
    .structure-group .structure-row .structure-item .image {
      text-align: center; }
    .structure-group .structure-row .structure-item .detail {
      padding-top: 5px;
      width: 180px; }
      .structure-group .structure-row .structure-item .detail .taxonomy a {
        color: #333333; }
      .structure-group .structure-row .structure-item .detail a:hover {
        color: #aaa; }
  .structure-group .structure-row .structure-item:first-child {
    margin-left: 0px; }
.structure-group .structure-row:first-child {
  margin-top: 0px; }

.wp-pagenavi a {
  color: #333333; }

.wp-pagenavi a:hover {
  color: #aaa; }

/*/////////// page-contact ////////////*/
.contact-form {
  margin-top: 20px; }

/*/////////// page-company ////////////*/
.company_table {
  margin-top: 20px; }
  .company_table tr th, .company_table td {
    border: 1px solid #ccc !important; }
  .company_table th {
    background-color: #fafaf2;
    width: 100px;
    font-weight: normal; }

/*/////////// page-privacy ////////////*/
.privacy-title {
  line-height: 36px;
  padding-left: 10px;
  background: white url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
  font-weight: bold; }

.privacy-text {
  color: #000; }

/*/////////// page-staff ////////////*/
.staff-title {
  font-size: 22px;
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;
  color: #000; }

.staff-info {
  border-style: none;
  padding: 0 60px 0 25px; }
  .staff-info tr th, .staff-info td {
    padding: 8px 0 2px;
    border: none;
    font-weight: normal;
    color: #000; }
  .staff-info tr {
    border-bottom: 1px dotted #aaa; }

/*/////////// page-blog ////////////*/
.blog_content {
  padding: 0 20px 20px 20px; }
  .blog_content .time-catelogy {
    text-align: right; }
    .blog_content .time-catelogy a {
      color: #333333; }
  .blog_content .time-catelogy a:hover {
    color: #aaa; }

/*/////////// page-flow ////////////*/
.flow-content {
  box-shadow: 0 0 7px 3px #ccc;
  position: relative;
  height: 212px; }
  .flow-content .flow-title {
    position: relative;
    line-height: 55px;
    color: white; }
    .flow-content .flow-title .title-info {
      position: absolute;
      left: 120px;
      top: 13px;
      font-size: 25px;
      font-weight: bold; }
  .flow-content .flow-info {
    padding: 15px; }
    .flow-content .flow-info .flow-272 .text {
      width: 435px;
      word-wrap: break-word; }
    .flow-content .flow-info .flow-272 .image {
      width: 272px; }
    .flow-content .flow-info .flow-right .text {
      float: left;
      word-wrap: break-word; }
    .flow-content .flow-info .flow-right .image {
      float: right;
      margin-left: 20px;
      position: absolute;
      top: 20px;
      right: 20px; }

/*/////////// page-craft ////////////*/
.craft-info {
  padding-top: 17px; }
  .craft-info .craft-slogan {
    float: left;
    width: 182px; }
  .craft-info .craft-text {
    float: left;
    padding-left: 10px;
    line-height: 45px;
    font-size: 24px;
    font-weight: bold; }
    .craft-info .craft-text .text-red {
      color: #ec1919; }

.data-content {
  position: relative;
  margin-left: -12px; }
  .data-content .data-title {
    position: absolute;
    top: 25px;
    left: 95px;
    color: white;
    font-size: 30px;
    font-weight: bold; }
  .data-content .data-text {
    position: absolute;
    width: 416px;
    top: 90px;
    left: 30px; }

/*/////////// page-price ////////////*/
.price-content {
  position: relative; }
  .price-content .price-title {
    position: absolute;
    top: 35px;
    left: 115px;
    color: white;
    font-size: 24px;
    font-weight: bold; }
  .price-content .price-text {
    position: absolute;
    bottom: 103px;
    left: 25px;
    right: 25px;
    color: #555;
    font-size: 26px;
    font-weight: bold; }
  .price-content .price-button {
    position: absolute;
    bottom: 27px;
    left: 29px; }

/*------- page-voice------*/
.voice-sub-content .image {
  float: left;
  width: 370px; }
  .voice-sub-content .image img {
    width: 370px;
    height: 260px; }
.voice-sub-content .text {
  width: 341px;
  float: right;
  margin-left: 48px;
  background-color: #fafaf2;
  border: 1px solid #ccc;
  padding: 20px; }
  .voice-sub-content .text .voice-title {
    font-size: 18px;
    margin-bottom: 35px;
    text-align: center; }
  .voice-sub-content .text .voice-table {
    border-style: none; }
    .voice-sub-content .text .voice-table tr th, .voice-sub-content .text .voice-table td {
      padding: 8px 0 2px;
      border: none;
      font-weight: normal;
      color: #000; }
    .voice-sub-content .text .voice-table tr {
      border-bottom: 1px dotted #e8e8e6; }
